
#customisation_deck_selection {
    width:              400px;
    height:             202px;
    
    .dialog_title {
        margin:         10px 52px 10px 10px;
    }
    
    #customisation_options {
        margin:         10px;
        padding:        10px;
        background-color:   @dialog_fg;
        
        li:first-child {
            margin-top:  0;
        }
        
        li {
            margin-top:         10px;
            background-color:   #fff;
            border:             2px solid #1f6e8e;
            padding:            5px 10px;
            cursor:             pointer;
            
            &:hover {
                border-color:   #3AB0DE;
            }
        }
    }
}


#customisation_deck_details {
    width:              400px;
    height:             406px;
    
    .dialog_title {
        margin:         10px 52px 10px 10px;
    }
    
    #deck_customisations {
        margin:         10px;
        padding:        10px;
        background-color:   @dialog_fg;
        
        li:first-child {
            margin-top:  0;
        }
        
        li {
            margin-top:         10px;
            height:             28px;
            
            &.colour_container {
                .input_container {
                    width:      199px;
                }
                
                #colour_sample {
                    .text_entry();
                    width:  23px;
                    height: 23px;
                    float:  right;
                    border-left-width: 0;
                }
            }
            
            &.icon_small_container {
                height: 36px;
            
                #icon_small {
                    .text_entry();
                    width:  32px;
                    height: 32px;
                    float:  right;
                    border-left-width:  0;    
                }
            
                #icon_small_drop {
                    .text_entry();
                    width:      200px;
                    height:     20px;
                    padding:    6px 0;
                    float:      right;
                    text-align: center;
                }
            }
            
            &.icon_large_container {
                height: 52px;
            
                #icon_large {
                    .text_entry();
                    width:  48px;
                    height: 48px;
                    float:  right;
                    border-left-width:  0;    
                }
            
                #icon_large_drop {
                    .text_entry();
                    width:      184px;
                    height:     20px;
                    padding:    14px 0;
                    float:      right;
                    text-align: center;
                }
            }
            
            &.preview_container {
                height:         55px;
                
                .preview {
                    margin-left:    122px;
                }
            }
            
            label {
                width:          120px;
                display:        block;
                float:          left;
                padding:        2px 0;
            }

            .input_container {
                .text_entry();
                padding:            2px 5px;
                border-color:       #126889;
                display:            block;
                float:              right;
                width:              224px;
                
                input {
                    background-color:   transparent;
                    border-width:       0;
                }
            }
        }
    }
        
    .button_container {
        text-align:         center;
        
        div {
            display:        inline-block;
            margin:         0 5px;
        }
    }
}

#customisation_deck_cards_management {
    width:              400px;
    height:             600px;
    
    .dialog_title {
        margin:         10px 52px 10px 10px;
    }
        
    .button_container {
        text-align:         center;
        
        div {
            display:        inline-block;
            margin:         0 5px;
        }
    }
}
