
#customisation_deck_selection {
    width:              400px;
    height:             202px;
    
    .dialog_title {
        margin:         10px 52px 10px 10px;
    }
    
    #customisation_options {
        margin:         10px;
        padding:        10px;
        background-color:   @dialog_fg;
        
        li:first-child {
            margin-top:  0;
        }
        
        li {
            margin-top:         10px;
            background-color:   #fff;
            border:             2px solid #1f6e8e;
            padding:            5px 10px;
            cursor:             pointer;
            
            &:hover {
                border-color:   #3AB0DE;
            }
        }
    }
}


#customisation_deck_details {
    width:              400px;
    height:             400px;
    
    .dialog_title {
        margin:         10px 52px 10px 10px;
    }
    
    #deck_customisations {
        margin:         10px;
        padding:        10px;
        background-color:   @dialog_fg;
        
        li:first-child {
            margin-top:  0;
        }
        
        li {
            margin-top:         10px;
            height:             28px;
            
            &.colour_container {
                .input_container {
                    width:      199px;
                }
                
                #colour_sample {
                    .text_entry();
                    width:  23px;
                    height: 23px;
                    float:  right;
                    border-left-width: 0;
                }
            }
            
            label {
                width:          120px;
                display:        block;
                float:          left;
                padding:        2px 0;
            }

            .input_container {
                .text_entry();
                padding:            2px 5px;
                border-color:       #126889;
                display:            block;
                float:              right;
                width:              224px;
                
                input {
                    background-color:   transparent;
                    border-width:       0;
                }
            }
        }
    }
}

